html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-color {
    color:rgb(7, 110, 144);
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-items {
    justify-content: center;
    align-items: center;
    padding-left: 27%;  
}

.description {
    font-weight: 400;
    font-size: 21px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}

.blue-color:hover {
  background-color: rgb(253, 250, 67);
}

.upload-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.file-upload-label {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.file-upload-label:hover {
    background-color: #0056b3;
}

.file-input {
    display: none;
}
